@use 'vuetify' with (
  $color-pack: false,
  $body-font-family: 'Lato',
  $heading-font-family: 'Raleway',
  $font-size-root: 20px,

  // $container-max-widths: (
  //   'md': map-get($grid-breakpoints, 'sm') * 0.9375,
  //   'lg': map-get($grid-breakpoints, 'md') * 0.9375,
  //   'xl': map-get($grid-breakpoints, 'lg') * 0.9375,
  // ),

);
