$body-font-family: 'Lato', sans-serif !default;
$heading-font-family: 'Raleway', sans-serif;

@import '~vuetify/src/styles/styles.sass';

$font-size-root: 20px;

$container-max-widths: (
  'md': map-get($grid-breakpoints, 'sm') * 0.9375,
  'lg': map-get($grid-breakpoints, 'md') * 0.9375,
  'xl': map-get($grid-breakpoints, 'lg') * 0.9375,
);

$card-elevation: 0;
$card-hover-elevation: 12;
